.juritron{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/juri.jpg);
    background-size: cover;
    width: auto;
    height: 668px;
    filter: blur(6px);
}